 * {
   padding: 0;
   margin: 0;
 }

body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-content: space-between;
  flex-wrap: wrap;
  flex-direction: column;
 }

ul {
  list-style: none;
  background: #222222;
}

li {
  margin-bottom: 5px;
  margin-left: 10px;
}

 canvas {
   background: #222222;
   position: relative;
   right: 20%;
   margin: auto;
 }

#score-container {
  font-size: 38px;
  position: relative;
  display: flex;
  margin-bottom: auto;
  margin-right: auto;
  justify-content: center;
  flex-direction: column;
  color: white;
  background: #222222;
}

#instructions {
  display: flex;
  align-items: center;
  position: relative;
  z-index: 1;
  top: 0px;
  bottom: 0;
  left: 0;
  right: 0;
  font-size: 20px;
  color: white;
  margin-right: auto;
}

#start {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0px;
  bottom: 0;
  left: 0;
  right: 0;
  font-size: 38px;
  color: white;
  background: #222222;
}

.visible {
  visibility: visible;
  opacity: 1;
  transition: opacity 2s linear;
}

.hidden {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 2s, opacity 2s linear;
}

.bg {
  background: url(http://res.cloudinary.com/dsolojfgkabc/image/upload/v1457667728/phone-backgrounds-5_wrbymz.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
